<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    {{#each movies}}
    <li class="list-group-item">
      <div class="lead">
        <a href="/movies/{{this._id}}"><b>"{{this.title}}"</b>, <small>({{this.year}})</small></a>
      </div>
    </li>
    {{/each}}
  </div>
</div>